:root {
  --primary-color: #1e8df3;
  --secondary-color: #ffae00;
}
body {
  font-size: 14px !important;
}
h1 {
  font-size: 70px;
  line-height: 1.2;
}
h2 {
  font-size: 36px;
  line-height: 1.2;
}
h5 {
  font-size: 18px;
}
a {
  text-decoration: none;
}
a:hover {
  color: var(--secondary-color) !important;
}
ol,
ul,
dl {
  margin-bottom: 0px !important;
}
.container {
  max-width: 1180px !important;
}
.text-primary {
  color: var(--primary-color) !important;
}
.text-secondary {
  color: var(--secondary-color) !important;
}
.bg-primary {
  background-color: var(--primary-color) !important;
}
.btn-primary {
  background-color: var(--primary-color);
  font-size: 18px !important;
  font-weight: 600;
  color: #fafafa;
  font-size: 18px !important;
  border: 0px;
  padding: 12px 30px 12px 30px;
}
.btn-primary:hover {
  background-color: var(--secondary-color) !important;
  color: #fff !important;
}
.btn-secondary {
  background-color: var(--secondary-color) !important;
  font-size: 18px !important;
  font-weight: 600;
  color: #fafafa;
  font-size: 18px !important;
  border: 0px;
  padding: 12px 30px 12px 30px;
}
.btn-secondary:hover {
  background-color: var(--primary-color) !important;
  color: #fff !important;
}
.section-padding {
  padding: 90px 0px;
}
.fw-600 {
  font-weight: 600;
}

/* Header CSS */
.nav-link {
  font-size: 18px !important;
  font-weight: 600;
  color: #fff;
}
.nav-link.active {
  color: var(--secondary-color) !important;
}
.navbar-toggler {
  border: none;
}
.navbar-toggler:focus {
  box-shadow: none;
}
.box-icon {
  border: 2px solid var(--primary-color);
  border-radius: 50%;
  height: 35px;
  width: 35px;
  justify-content: center;
  display: flex;
  align-items: center;
}

/* Banner CSS */
.home-banner {
  height: 100vh;
  box-shadow: inset 0 0 0 932px rgb(0 0 0 / 55%);
}

/* Text With Image Css */

.border-heading.left-border::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 3px;
  height: 100%;
  background-color: var(--secondary-color);
}
.border-heading.right-border::after {
  content: "";
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 3px;
  height: 100%;
  background-color: var(--secondary-color);
}

.border-heading {
  font-size: 17px !important;
  width: fit-content;
}
/* Team Member CSS */
.member-image {
  width: 85px !important;
  height: 85px !important;
  border-radius: 50%;
}
.heart-icon {
  width: 60px;
  height: 60px;
  padding: 13px;
  border-radius: 50%;
}
/* Medical Device CSS */
.medical-device-box {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
/* Services  CSS */
.spacer-height {
  height: 520px;
}
/* Contact CSS */
.form-control {
  padding: 10px 20px;
  border-radius: 0px;
}
/* Page title CSS */
.page-title-section {
  height: 70vh;
  box-shadow: inset 0 0 0 932px rgb(0 0 0 / 55%);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
/* Why Choose CSS */
.why-choose-title{
  font-size:20px;
}
/* Footer CSS */
.title-divider {
  height: 3px;
  width: 22%;
  background-color: var(--secondary-color);
}
.footer-list li {
  margin-bottom: 13px;
}
.footer-list a {
  color: #fff !important;
}
.footer-list a:hover {
  color: var(--secondary-color) !important;
}
.footer-contact a:hover .box-icon {
  background-color: var(--secondary-color);
  border: 0px;
}
.bottom-footer {
  border-top: 1px solid #fff;
}
@media (min-width: 1024px) {
  .w-lg-100 {
    width: 100%;
  }
  .bottom-menu {
    top: 16px;
  }
}
@media (max-width: 1024px) {
}
@media (max-width: 1020px) {
  .nav-link {
    color: #000;
  }
}
@media (max-width: 768px) {
  h1 {
    font-size: 56px;
  }
  .home-banner {
    height: 80vh;
  }
  .page-title-section{
   height:50vh; 
  }
  h2 {
    font-size: 32px;
    line-height: 1.2;
  }
  .spacer-height {
    height: 400px;
  }
}
